<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="LegacyConnectionString" connectionString="Legacy Connection String in Dev"/>
  </connectionStrings>
  
  <appSettings>
    <add key="SettingA" value="This is Legacy Magic in Dev"/>
  </appSettings>

</configuration>