<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MainDatabaseConnection" connectionString="ThisIsTheLegacyConnectionString"/>
  </connectionStrings>
  
  <appSettings>
    <add key="SimonsSpecialSauce" value="This is Magic"/>
  </appSettings>

</configuration>